@model IEnumerable<patent.DAL.EFModels.Copyright>

@{
    ViewBag.Title = "Copyrights";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

@section Body {

    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table table-bordered">
        <tr>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.BusinessNumber)
            </th>
            <th class="col-md-5">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="col-md-4">
                Authors
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.ApplicationNumber)
            </th>
            <th class="col-md-1">

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @foreach (var author in item.Authors)
                    {
                        @Html.Raw(string.Format("{0} {1} {2} ({3}%)", author.Surname, author.Name, author.Patronymic, author.PercentOwnership) + "<br/>")
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationNumber)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CopyrightID }, new { @class = "btn btn-primary btn-xs index_table_button" }) 
                    @Html.ActionLink("Details", "Details", new { id = item.CopyrightID }, new { @class = "btn btn-primary btn-xs index_table_button" }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.CopyrightID }, new { @class = "btn btn-danger btn-xs index_table_button" })
                </td>
            </tr>
        }

    </table>
}